/mavenspace/.metadata
/workspaces/.metadata
/myworkspace/.metadata
/mavenspace/SunPlatform/src/main/webapp/WEB-INF/classes
/mavenspace/SunPlatform/target
/mavenspace/SunPlatform/mybatis.log
/mavenspace/maven.springhibernate.test/.settings
/mavenspace/maven.springhibernate.test/target
/mavenspace/maven.struts.test/target
/mavenspace/maven.springmvc/target
/mavenspace/maven.archetype.webapp/target
/mavenspace/maven.archetype.webapp/.settings
/mavenspace/SunPlatform/.settings
/mavenspace/maven.database/.settings
/mavenspace/maven.database/target
/mavenspace/maven.springmvc/.settings
/mavenspace/maven.struts.test/.settings
/mavenspace/Servers/.settings
/myworkspace/JavaScriptTestPrj/.settings
/myworkspace/JavaScriptTestPrj/.myeclipse
/myworkspace/MyWebPrj/.myeclipse
/myworkspace/myWSClient/bin
/myworkspace/sms/.myeclipse
/myworkspace/smsway/.myeclipse
/myworkspace/webs/bin
/myworkspace/webser/.myeclipse
/myworkspace/webservice_JAX-WS/.myeclipse
/myworkspace/webservice_xfire-1.2.6/.myeclipse
/myworkspace/webservice_xfire-1.2.6/WebRoot/WEB-INF/classes
/myworkspace/webservice_xfire-1.2.6_client/bin
/workspaces/MyJavaPrj/bin
/myworkspace/MyJavaPrj/bin
/myworkspace/MyJavaPrj/.settings
/myworkspace/SpringHelloWorld/bin
/myworkspace/MyJavaPrj/.idea
/myworkspace/MyJavaPrj/MyJavaPrj.iml
