<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.CancelMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.CancelEntity">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="MEDICAL_CARD_NO" property="payCardNo" jdbcType="VARCHAR" />
		<result column="PATIENT_NAME" property="exOrder" jdbcType="VARCHAR" />
		<result column="ORDER_NO" property="operId" jdbcType="VARCHAR" />
		<result column="REAL_PAY_FEE" property="states" jdbcType="VARCHAR" />
		<result column="PAY_CARD_NO" property="cancelDate" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getWhereEntity" parameterType="com.sun.entity.CancelEntity" resultMap="BaseResultMap">
		 SELECT * from FRONTEND_CONFIRM_AUTO_PAY ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		  <if test="payCardNo!= null and payCardNo!= ''">
		  	AND ST.PAY_CARD_NO = #{payCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="orderNum!= null and orderNum!=''">
		  	AND ST.ORDER_NO = #{orderNum}
		  </if>
		  <if test="userName!= null and userName!= ''">
		  	AND ST.USER_NAME = #{userName}
		  </if>
 		</where>
	</select>
	
</mapper>