<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.ChargeMapper">
	<insert id="insert" parameterType="com.sun.entity.ChargeEntity">
		insert into t_charge (kzCardNo, total,
		terminalId, extOrder, payMentId,
		createTime)
		values (#{kzCardNo,jdbcType=VARCHAR}, #{total,jdbcType=VARCHAR},
		#{terminalId,jdbcType=VARCHAR}, #{extOrder,jdbcType=VARCHAR},#{payMentId,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
	</insert>
</mapper>