<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.CountMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.CountEntity">
		<result column="hospitalName" property="hospitalName" jdbcType="VARCHAR" />
		<result column="businessType" property="businessType" jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="VARCHAR" />
		<result column="sumAmount" property="sumAmount" jdbcType="VARCHAR" />
		<result column="terminalId" property="terminalId" jdbcType="VARCHAR" />
		<result column="paytime" property="paytime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		a.ID, a.USER_NAME, a.PASSWORD,a.USER_LEVEL, a.REAL_NAME,a.MOBILE,a.STATES,b.GROUP_MENU,c.HOSPITAL_NAME
	</sql>

	<select id="getBooking" resultMap="BaseResultMap" parameterType="com.sun.entity.CountEntity">
		SELECT COUNT(*) as count,MAX(HOSPITAL_NAME) as hospitalName,SUM(FEE) as sumAmount,MAX('预约挂号') AS businessType FROM FRONTEND_BOOKING_ORDER ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!=''">
		  	AND ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="starTime!= null and starTime!= ''"><!-- 日期 -->
		  	AND ST.ORDER_DATE_TIME BETWEEN #{starTime} AND #{endTime}
		  </if>
 		</where>
 		 GROUP BY HOSPITAL_NAME
	</select>

	<select id="getAutoPay" resultMap="BaseResultMap" parameterType="com.sun.entity.CountEntity">
		SELECT COUNT(*) AS COUNT,MAX(HOSPITAL_NAME) as hospitalName,SUM(REAL_PAY_FEE) as sumAmount,MAX('自助缴费') AS businessType FROM FRONTEND_CONFIRM_AUTO_PAY ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!=''">
		  	AND ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="starTime!= null and starTime!= ''"><!-- 日期 -->
		  	AND ST.PAY_TIME BETWEEN #{starTime} AND #{endTime}
		  </if>
 		</where>
 		 GROUP BY HOSPITAL_NAME
	</select>
	
	<select id="getBookingTerminal" resultMap="BaseResultMap" parameterType="com.sun.entity.CountEntity">
		SELECT COUNT(*) as count,MAX(HOSPITAL_NAME) as hospitalName,SUM(FEE) as sumAmount,MAX('预约挂号') AS businessType,MAX(OPER_ID) as terminalId,MAX(ORDER_DATE_TIME) AS paytime FROM FRONTEND_BOOKING_ORDER ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!=''">
		  	AND ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="terminalId!= null and terminalId!=''">
		  	AND ST.OPER_ID = #{terminalId}
		  </if>
		  <if test="starTime!= null and starTime!= ''"><!-- 日期 -->
		  	AND ST.ORDER_DATE_TIME BETWEEN #{starTime} AND #{endTime}
		  </if>
 		</where>
 		 GROUP BY OPER_ID
	</select>
	
	<select id="getAutoPayTerminal" resultMap="BaseResultMap" parameterType="com.sun.entity.CountEntity">
		SELECT max(pay_time) as paytime,COUNT(*) AS COUNT,MAX(HOSPITAL_NAME) as hospitalName,SUM(REAL_PAY_FEE) as sumAmount,MAX('自助缴费') AS businessType,MAX(OPER_ID) as terminalId FROM FRONTEND_CONFIRM_AUTO_PAY ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!=''">
		  	AND ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="terminalId!= null and terminalId!=''">
		  	AND ST.OPER_ID = #{terminalId}
		  </if>
		   <if test="starTime!= null and starTime!= ''"><!-- 日期 -->
		  	AND ST.PAY_TIME BETWEEN #{starTime} AND #{endTime}
		  </if>
 		</where>
 		 GROUP BY OPER_ID
	</select>
	
</mapper>