<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.ExamMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.ExamEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
		<result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
		<result column="PATIENT_SEX" property="patientSex" jdbcType="VARCHAR" />
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthDay" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="MEDICAL_CARD_NO" property="medicalCardNo" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
		<result column="FRONT_ORDER_NO" property="frontOrderNo" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		HOSPITAL_ID,HOSPITAL_NAME,PATIENT_NAME,PATIENT_SEX,ID_CARD,BIRTHDAY,ADDRESS,MOBILE,MEDICAL_CARD_NO,PASSWORD,OPER_ID,FRONT_ORDER_NO
	</sql>
	
	<select id="getAll" resultMap="BaseResultMap">
		select HOSPITAL_ID, HOSPITAL_NAME, MEDICAL_CARD_NO, PATIENT_NAME,ORDER_NO,REAL_PAY_FEE,PAY_CARD_NO,OPTION_PAYMENTS,MOBILE,PAYMENT_ID,USER_NAME,PAY_TIME from FRONTEND_CONFIRM_AUTO_PAY
	</select>
	<select id="getWhereEntity" parameterType="com.sun.entity.ExamEntity" resultMap="BaseResultMap">
		 SELECT HOSPITAL_NAME,MEDICAL_CARD_NO,PATIENT_NAME,ID_CARD,MOBILE,ADDRESS,OPER_ID,CASE PATIENT_SEX WHEN 1 THEN '男' WHEN 0 THEN '女' END AS PATIENT_SEX,CREATE_TIME from FRONTEND_REG_USER ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="patientName!= null and patientName!= ''">
		  	AND ST.PATIENT_NAME = #{patientName}
		  </if>
 		</where>
 		ORDER BY ID DESC;
	</select>
	
	<insert id="insert" parameterType="com.sun.entity.ExamEntity">
		insert into FRONTEND_REG_USER (HOSPITAL_ID, HOSPITAL_NAME,
		PATIENT_NAME,PATIENT_SEX,ID_CARD,BIRTHDAY,ADDRESS,MOBILE,MEDICAL_CARD_NO,PASSWORD,OPER_ID,FRONT_ORDER_NO,CREATE_TIME)
		values (#{hospitalId,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR},#{patientName,jdbcType=VARCHAR},
				#{patientSex,jdbcType=VARCHAR},#{idCard,jdbcType=VARCHAR}, #{birthDay,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
				#{mobile,jdbcType=VARCHAR},#{medicalCardNo,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{operId,jdbcType=VARCHAR},#{frontOrderNo,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR})
	</insert>
	
	
	
	<select id="getExamById" resultMap="BaseResultMap" parameterType="com.sun.entity.ExamEntity">
		select 	
		<include refid="Base_Column_List" /> from FRONTEND_REG_USER
		where FRONT_ORDER_NO = #{frontOrderNo,jdbcType=VARCHAR}
	</select>
	
	
		<select id="getCout" parameterType="com.sun.entity.ExamEntity" resultType="Integer">
		 SELECT  COUNT(1) FROM FRONTEND_REG_USER ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="patientName!= null and patientName!= ''">
		  	AND ST.PATIENT_NAME = #{patientName}
		  </if>
 		</where>
	</select>
	
	
	<select id="findPageBreakByCondition" resultMap="BaseResultMap" parameterType="map">
		 SELECT HOSPITAL_NAME,MEDICAL_CARD_NO,PATIENT_NAME,ID_CARD,MOBILE,ADDRESS,OPER_ID,CASE PATIENT_SEX WHEN 1 THEN '男' WHEN 0 THEN '女' END AS PATIENT_SEX,CREATE_TIME FROM FRONTEND_REG_USER ST
		<where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="patientName!= null and patientName!= ''">
		  	AND ST.PATIENT_NAME = #{patientName}
		  </if>
 		</where>
 		ORDER BY ID DESC;
	</select>
</mapper>