<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.FrontendPayRecordMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.FrontendPayRecordEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="FRONT_ORDER_NO" property="frontOrderNo" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
		<result column="MEDICAL_CARD_NO" property="medicalCardNo" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
		<result column="REAL_PAY_FEE" property="realPayFee" jdbcType="VARCHAR" />
		<result column="PAY_CARD_NO" property="payCardNo" jdbcType="VARCHAR" />
		<result column="PAY_TYPE" property="payType" jdbcType="VARCHAR" />
		<result column="SETTLEMNET_TYPE" property="settlementType" jdbcType="VARCHAR" />
		<result column="PAYMNET_ID" property="paymentId" jdbcType="VARCHAR" />
		<result column="PAY_TRAN_LINE" property="payTranLine" jdbcType="VARCHAR" />
		<result column="SYSTEM_PAY_TRAN_LINE" property="systemPayTranLine" jdbcType="VARCHAR" />
		<result column="OPTION_PAYMENTS" property="optionPayments" jdbcType="VARCHAR" />
		<result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
		<result column="TERMINAL_TRAN_LINE" property="terminalTranLine" jdbcType="VARCHAR" />
		<result column="SETTLE_ID" property="settleId" jdbcType="VARCHAR" />
		<result column="PAY_TIME" property="payTime" jdbcType="VARCHAR" />
		<result column="STATES" property="states" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="insert" parameterType="com.sun.entity.FrontendPayRecordEntity">
		insert into FRONTEND_PAY_RECORD (FRONT_ORDER_NO, HOSPITAL_ID,HOSPITAL_NAME,USER_NAME,PATIENT_NAME,MEDICAL_CARD_NO,MOBILE,ORDER_NO,REAL_PAY_FEE,PAY_CARD_NO,
										PAY_TYPE,SETTLEMNET_TYPE,PAYMNET_ID,PAY_TRAN_LINE,SYSTEM_PAY_TRAN_LINE,OPTION_PAYMENTS,OPER_ID,TERMINAL_TRAN_LINE,SETTLE_ID,
										PAY_TIME,STATES,REMARK,BUSINESS_TYPE)
		values (#{frontOrderNo,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR},#{hospitalName,jdbcType=VARCHAR},
				#{userName,jdbcType=VARCHAR},#{patientName,jdbcType=VARCHAR}, #{medicalCardNo,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},
				#{orderNo,jdbcType=VARCHAR},#{realPayFee,jdbcType=VARCHAR},#{payCardNo,jdbcType=VARCHAR},#{payType,jdbcType=VARCHAR},#{settlementType,jdbcType=VARCHAR},
				#{paymentId,jdbcType=VARCHAR},#{payTranLine,jdbcType=VARCHAR},#{systemPayTranLine,jdbcType=VARCHAR},#{optionPayments,jdbcType=VARCHAR},#{operId,jdbcType=VARCHAR},
				#{terminalTranLine,jdbcType=VARCHAR},#{settleId,jdbcType=VARCHAR},#{payTime,jdbcType=VARCHAR},#{states,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{businessType,jdbcType=VARCHAR})
	</insert>
	
	<sql id="Base_Column_List">
		HOSPITAL_ID,HOSPITAL_NAME,PATIENT_NAME
	</sql>
	
	<select id="getAll" resultMap="BaseResultMap">
		select HOSPITAL_ID,HOSPITAL_NAME,MEDICAL_CARD_NO,PATIENT_NAME,ORDER_NO,REAL_PAY_FEE,PAY_CARD_NO,OPTION_PAYMENTS,MOBILE,PAYMENT_ID,USER_NAME,PAY_TIME from FRONTEND_PAY_RECORD
	</select>
	<select id="getWhereEntity" parameterType="com.sun.entity.FrontendPayRecordEntity" resultMap="BaseResultMap">
		 SELECT * from FRONTEND_PAY_RECORD ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="patientName!= null and patientName!= ''">
		  	AND ST.PATIENT_NAME = #{patientName}
		  </if>
		   <if test="startDate!= null and startDate!= ''">
		  	AND PAY_TIME BETWEEN #{startDate} AND #{endDate}
		  </if>
		   <if test="orderNo!= null and orderNo!= ''">
		  	AND ST.ORDER_NO = #{orderNo}
		  </if>
		  <if test="states!= null and states!= ''">
		  	AND STATES = #{states}
		  </if>
 		</where>
 		ORDER BY ID DESC;
	</select>
	
	
	<select id="getExamById" resultMap="BaseResultMap" parameterType="com.sun.entity.FrontendPayRecordEntity">
		select 	
		<include refid="Base_Column_List" /> from FRONTEND_PAY_RECORD
		where FRONT_ORDER_NO = #{frontOrderNo,jdbcType=VARCHAR}
	</select>
	
	
	<select id="getCout" parameterType="com.sun.entity.AutoPayEntity" resultType="Integer">
		 SELECT COUNT(1) from FRONTEND_PAY_RECORD ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="patientName!= null and patientName!= ''">
		  	AND ST.PATIENT_NAME = #{patientName}
		  </if>
		   <if test="startDate!= null and startDate!= ''">
		  	AND PAY_TIME BETWEEN #{startDate} AND #{endDate}
		  </if>
		  <if test="orderNo!= null and orderNo!= ''">
		  	AND ST.ORDER_NO = #{orderNo}
		  </if>
		  <if test="states!= null and states!= ''">
		  	AND STATES = #{states}
		  </if>
 		</where>
	</select>
	
		<select id="findPageBreakByCondition" resultMap="BaseResultMap" parameterType="map">
		 SELECT * FROM FRONTEND_PAY_RECORD ST
		 <where>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{hospitalName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		   <if test="mobile!= null and mobile!= ''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="patientName!= null and patientName!= ''">
		  	AND ST.PATIENT_NAME = #{patientName}
		  </if>
		   <if test="orderNo!= null and orderNo!= ''">
		  	AND ST.ORDER_NO = #{orderNo}
		  </if>
		  <if test="startDate!= null and startDate!= ''">
		  	AND PAY_TIME BETWEEN #{startDate} AND #{endDate}
		  </if>
		  <if test="states!= null and states!= ''">
		  	AND STATES = #{states}
		  </if>
 		</where>
 		ORDER BY ID DESC;
	</select>
	
	
</mapper>