<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.HospitalMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.HospitalEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospital_id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="hospital_name" jdbcType="VARCHAR" />
		<result column="EMAIL" property="mail" jdbcType="VARCHAR" />
		<result column="STATES" property="states" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getAll" resultMap="BaseResultMap">
		select ID, HOSPITAL_ID, HOSPITAL_NAME, EMAIL,STATES from FRONTEND_HOSPITAL
	</select>
		<!-- <select id="getWhereEntity" parameterType="com.sun.entity.PayOrderEntity" resultMap="BaseResultMap">
		 SELECT * from FRONTEND_APPLY_PAY ST
		 <where>
		  <if test="userName!= null and userName!= ''">
		  	ST.USER_NAME = #{userName}
		  </if>
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		  <if test="idCard!= null and idCard!= ''">
		  	AND ST.ID_CARD = #{idCard}
		  </if>
		   <if test="payCardNo!= null and payCardNo!= ''">
		  	AND ST.PAY_CARD_NO = #{payCardNo}
		  </if>
		  <if test="mobile!= null and mobile!=''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="orderNo!= null and orderNo!= ''">
		  	AND ST.ORDER_NO = #{orderNo}
		  </if>
 		</where>
	</select>
	 -->
	
</mapper>