<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.PayOrderMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.PayOrderEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
		<result column="MEDICAL_CARD_NO" property="medicalCardNo" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
		<result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
		<result column="FEE" property="fee" jdbcType="VARCHAR" />
		<result column="PAY_CARD_NO" property="payCardNo" jdbcType="VARCHAR" />
		<result column="SETTLEMENT_TYPE" property="mentType" jdbcType="VARCHAR" />
		<result column="PAYMENT_ID" property="payMentId" jdbcType="VARCHAR" />
		<result column="OPTION_PAYMENTS" property="payMent" jdbcType="VARCHAR" />
		<result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
		<result column="STATES" property="status" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getAll" resultMap="BaseResultMap">
		select HOSPITAL_ID, HOSPITAL_NAME, ORDER_NO, MEDICAL_CARD_NO,USER_NAME,FEE,PAYMENT_ID,SETTLEMENT_TYPE from FRONTEND_APPLY_PAY
	</select>
	
		<select id="getWhereEntity" parameterType="com.sun.entity.PayOrderEntity" resultMap="BaseResultMap">
		 SELECT * from FRONTEND_APPLY_PAY ST
		 <where>
		  <if test="userName!= null and userName!= ''">
		  	ST.USER_NAME = #{userName}
		  </if>
		  <if test="hospitalName!= null and hospitalName!= ''">
		  	ST.HOSPITAL_NAME = #{userName}
		  </if>		  
		  <if test="medicalCardNo!= null and medicalCardNo!= ''">
		  	AND ST.MEDICAL_CARD_NO = #{medicalCardNo}
		  </if>
		  <if test="idCard!= null and idCard!= ''">
		  	AND ST.ID_CARD = #{idCard}
		  </if>
		   <if test="payCardNo!= null and payCardNo!= ''">
		  	AND ST.PAY_CARD_NO = #{payCardNo}
		  </if>
		  <if test="mobile!= null and mobile!=''">
		  	AND ST.MOBILE = #{mobile}
		  </if>
		  <if test="orderNo!= null and orderNo!= ''">
		  	AND ST.ORDER_NO = #{orderNo}
		  </if>
 		</where>
	</select>
	
	
</mapper>