<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.PayRecordMapper">
	<resultMap id="BaseResultMap" type="com.sun.entity.PayRecordEntity">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="OPTION_PAYMENT" property="payMent" jdbcType="VARCHAR" />
		<result column="MEMBER_CARD" property="memberCard" jdbcType="VARCHAR" />
		<result column="PAY_CARD_NO" property="payCardNo" jdbcType="VARCHAR" />
		<result column="FEE" property="fee" jdbcType="VARCHAR" />
		<result column="EXT_ORDER" property="extOrder" jdbcType="VARCHAR" />
		<result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
		<result column="TRADER_ID" property="traderId" jdbcType="DATE" />
		<result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
		<result column="STATES" property="states" jdbcType="DATE" />
	</resultMap>
	<select id="getAll" resultMap="BaseResultMap">
		select OPER_ID, PAY_CARD_NO, MEMBER_CARD, USER_NAME, FEE,TRADER_ID,STATES,CREATE_TIME from FRONTEND_CHARGE
	</select>
	
	
	<select id="getWhereEntity" parameterType="com.sun.entity.PayRecordEntity" resultMap="BaseResultMap">
		 SELECT * from FRONTEND_CHARGE ST
		 <where>
		  <if test="userName!= null and userName!= ''">
		  	ST.USER_NAME = #{userName}
		  </if>
		  <if test="payCardNo!= null and payCardNo!= ''">
		  	AND ST.PAY_CARD_NO = #{payCardNo}
		  </if>
		  <if test="memberCard!= null and memberCard!= ''">
		  	AND ST.MEMBER_CARD = #{memberCard}
		  </if>
		  <if test="extOrder!=null and extOrder!=''">
		  	AND ST.EXT_ORDER=#{extOrder}
		  </if>
 		</where>
	</select>
	
	
</mapper>